<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223059417666-vghij4bqnvbar9eu2f3dqif47fede1g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223059417666-vghij4bqnvbar9eu2f3dqif47fede1g6</string>
	<key>API_KEY</key>
	<string>AIzaSyCVF9qnNBE62SWSFq9Np4TJ-s4a8hWFiqk</string>
	<key>GCM_SENDER_ID</key>
	<string>223059417666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vsing</string>
	<key>PROJECT_ID</key>
	<string>dbvsing</string>
	<key>STORAGE_BUCKET</key>
	<string>dbvsing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223059417666:ios:717166666b7415802cabdb</string>
	<key>DATABASE_URL</key>
	<string>https://dbvsing-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>